<div class="hygiene-content">

  <div class="hygiene-head">
    <h1>Hygiene</h1>
  </div>
  <div class="hygiene-bg-sub">
  </div>
  <div class="hygiene-bg-main">
  </div>
  <div class="hygiene-main-content">
    <div class="search-bar">
      <input type="search" placeholder="Search Hygiene...">
      <button id=search-btn><i class="fa fa-search"></i></button>
    </div>
    <div class="hygiene-items">
      <div class="hygiene-item">
        <div class="hygiene-image">
            <span></span>
        </div>
        <div class="hygiene-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="hygiene-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="hygiene-item">
        <div class="hygiene-image">
            <span></span>
        </div>
        <div class="hygiene-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="hygiene-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="hygiene-item">
        <div class="hygiene-image">
            <span></span>
        </div>
        <div class="hygiene-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="hygiene-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="hygiene-item">
        <div class="hygiene-image">
            <span></span>
        </div>
        <div class="hygiene-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="hygiene-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="hygiene-item">
        <div class="hygiene-image">
            <span></span>
        </div>
        <div class="hygiene-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="hygiene-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="hygiene-item">
        <div class="hygiene-image">
            <span></span>
        </div>
        <div class="hygiene-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="hygiene-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="hygiene-item">
        <div class="hygiene-image">
            <span></span>
        </div>
        <div class="hygiene-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="hygiene-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="hygiene-item">
        <div class="hygiene-image">
            <span></span>
        </div>
        <div class="hygiene-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="hygiene-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="hygiene-item">
        <div class="hygiene-image">
            <span></span>
        </div>
        <div class="hygiene-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="hygiene-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="hygiene-item">
        <div class="hygiene-image">
            <span></span>
        </div>
        <div class="hygiene-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="hygiene-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="hygiene-item">
        <div class="hygiene-image">
            <span></span>
        </div>
        <div class="hygiene-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="hygiene-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="hygiene-item">
        <div class="hygiene-image">
            <span></span>
        </div>
        <div class="hygiene-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="hygiene-price">
          <span>$420.00</span>
        </div>
      </div>
    </div>
    <button>View more...</button>
  </div>
  <div class="hygiene-arrow-bg">
    <span></span>
  </div>
  <div class="hygiene-arrow-bg" style="right: 108px;">
  </div>

</div>
