.header {
  height: 100px;
  position: relative;
}

.logo {

  display: inline-block;
  width: 50%;
  height: 100%;

  #logo-store {

    position: absolute;
    left: 58px;
    top: 23px;

    width: 293px;
    height: 36px;
    margin: 0px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;

    color: #0E9594;

  }

  #logo-name {

    position: absolute;
    left: 122px;
    top: 51px;

    width: 293px;
    height: 36px;
    margin: 0px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;

    color: #F56C43;
  }
}

.search {

  display: inline-block;
  width: 20%;
  height: 100%;

  position: relative;

  input {

    position: absolute;
    top: 17px;

    width: 100%;
    height: 40px;

    border-radius: 50px;
    background-color: #F3C969;
    border: 0px;

    padding: 20px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: rgba(86, 44, 44, 0.5);
  }

  input:focus, textarea:focus, select:focus{
    outline: none;
}
}

.menu-bar {

  //display: inline-block;
  width: 30%;
  height: 65px;

  float: right;
  padding-bottom: 35px;

  position: relative;

  span {

    display: inline-block;

    margin-right: 40px;
    margin-left: 40px;
    margin-top: 17px;

    width: 0px;
    height: 40px;

    border: 2px solid #127475;
  }

  h3 {

    display: inline-block;
    vertical-align: top;

    width: 49px;
    height: 15px;

    margin-top: 30px;
    margin-right: 5px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;

    color: #0E9594;
  }

  .switch {

    position: relative;
    display: inline-block;
    vertical-align: top;

    left: 0px;
    top: 5px;
    height: 40px;

    label {
      top: 20px;
      position: absolute;

      cursor: pointer;

      width: 50px;
      height: 30px;

      background: #127475;
      margin-left: 45px;

      display: inline-block;
      font-size: 20px; /* 1 */
      border-radius: 100px;

      input {

        position: absolute;
        opacity: 0;
      }

      span {
        margin: 0px;
        width: 25px;
        height: 25px;
        border-radius: 100px;
        background: #FFF;
        box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
        -webkit-transition: all 300ms;
           -moz-transition: all 300ms;
                transition: all 300ms;
      }

      input:checked + span {
        -webkit-transform: translate3d(80%, 0, 0);
           -moz-transform: translate3d(80%, 0, 0);
                transform: translate3d(80%, 0, 0);
      }
    }
  }
}

