<div class="food-content">

  <div class="food-head">
    <h1>Food</h1>
  </div>
  <div class="food-bg-sub">
  </div>
  <div class="food-bg-main">
  </div>
  <div class="food-main-content">
    <div class="search-bar">
      <input type="search" placeholder="Search food...">
      <button id=search-btn><i class="fa fa-search"></i></button>
    </div>
    <div class="food-items">
      <div class="food-item">
        <div class="food-image">
            <span></span>
        </div>
        <div class="food-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="food-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="food-item">
        <div class="food-image">
            <span></span>
        </div>
        <div class="food-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="food-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="food-item">
        <div class="food-image">
            <span></span>
        </div>
        <div class="food-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="food-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="food-item">
        <div class="food-image">
            <span></span>
        </div>
        <div class="food-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="food-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="food-item">
        <div class="food-image">
            <span></span>
        </div>
        <div class="food-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="food-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="food-item">
        <div class="food-image">
            <span></span>
        </div>
        <div class="food-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="food-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="food-item">
        <div class="food-image">
            <span></span>
        </div>
        <div class="food-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="food-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="food-item">
        <div class="food-image">
            <span></span>
        </div>
        <div class="food-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="food-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="food-item">
        <div class="food-image">
            <span></span>
        </div>
        <div class="food-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="food-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="food-item">
        <div class="food-image">
            <span></span>
        </div>
        <div class="food-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="food-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="food-item">
        <div class="food-image">
            <span></span>
        </div>
        <div class="food-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="food-price">
          <span>$420.00</span>
        </div>
      </div>
      <div class="food-item">
        <div class="food-image">
            <span></span>
        </div>
        <div class="food-info">
          <span>Noodles</span>
          <span style="font-weight: normal;">The good times</span>
        </div>
        <div class="food-price">
          <span>$420.00</span>
        </div>
      </div>
    </div>
    <button>View more...</button>
  </div>
  <div class="food-arrow-bg">
    <span></span>
  </div>
  <div class="food-arrow-bg" style="right: 108px;">
  </div>

</div>
